@import "fontawesome-all.min.css";

fieldset{
	display: inline-block;
}
#yajem_container {
	display: block;
}

a{
	cursor: pointer;
}

#yajem_reg{
	background-color: forestgreen;
}
.green{
	color: forestgreen;
}
#yajem_unreg{
	background-color: crimson;
}
.crimson{
	color:crimson;
}
#yajem_confirm{
	margin-right: 10px;
}
.yajem-button-group{
	padding-top:10px;
}

.yajem_bottom-rounded {
	border-radius: 0px 0px 6px 6px;
	box-shadow: 0 0px 8px #BDBDBD;
}
/* !important became necessary while testing with other templates*/
.yajem_hidden {
	display: none !important;
}

.yajem_rounded {
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 0px 8px #BDBDBD;
}

.yajem_css_switch{
	padding:10px 10px;
	word-spacing: normal;
	margin:0px;
	border:1px solid #BDBDBD;
	width: auto;
}
.yajem_label_border {
	border: 1px solid;
	border-radius: 6px 0px 0px 6px;
}
.yajem_output_border {
	border: 1px solid;
	border-radius: 0px 6px 6px 0px;
}
#yajem_comment_line{
	padding-top: 10px;
}

.yajem_flex_row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.yajem_cell {
	display: block;
	width: auto;
	padding: 10px 10px 10px 0px;
}
.yajem_head {
	font-weight: bold;
}

.yajem_image {
	display: inline-block;
	float: right;
	max-width: 150px;
	height: auto;
	overflow: hidden;
}
.yajem_grid_section {
	display: grid;
	grid-template-columns: minmax(100px, 200px) auto;
	grid-gap: 10px;
}
.yajem_no_column_gap {
	grid-column-gap: 0px;
}
.yajem_full_grid_row {
	grid-column-start: 1;
	grid-column-end: span 2;
}
.yajem_comment_grid{
	display: grid;
	grid-template-columns: 65px auto;
	grid-template-rows: auto;
	grid-row-gap: 10px;
}
.yajem_comment_avatar{
	height: 60px;
	width: 60px;
}
.yajem_comment{
	padding: 5px;
}
.yajem_section_container {
	display: block;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: darkgrey solid 1px;
	clear: both;
	overflow: auto;
}
.yajem_label{}
.yajem_output{}

.yajem_bordered {
	border: 1px solid #BDBDBD;
	margin-right: 10px;
	border-radius: 6px 6px 6px 6px;
}
.yajem_avatar_container{
	padding: 5px;
	display: block;
	height: 70px;
}
.yajem_ustatus{
	display:block;
	border-radius: 6px 6px 6px 6px;
	padding: 5px;
	margin-top: 5px;
}
.yajem_att_status{
	padding:5px;
	display:block;
	margin-left: auto;
	margin-right: auto;
}
.yajem_uname{
	padding: 5px;
	display: block;
	border-radius: 0px 0px 6px 0px;
	background-color: #d3d3d3;
}
.yajem_border_right {
	border-right: 1px solid #BDBDBD;
}
.yajem_att_comment{
	position: relative;
	display: block;
	height: 50%;
}

#google_map {
	width:100%;
	height:400px;
}

.yajem_attendee {
	border: 1px solid #BDBDBD;
	margin-right: 10px;
	margin-top: 10px;
	border-radius: 6px 6px 6px 6px;
	width: 150px;
}

.yajem_avatar {
	display: block;
	height: 60px;
	width: 60px;
	margin-left: auto;
	margin-right: auto;
}
#yajem_comments .yajem_uname {
	padding: 5px 5px;
}
#commentForm #comment {
	width: 100%;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	height: 100px;
}
#yajem_comment{
	background-color: #004b8d;
	color: white;
	font-weight: bold;
}

.yajem_img_round {
	/*border-radius: 50%;*/
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border: solid 1px;
}
.yajem_img_heraldic {
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}
input[type=checkbox]:checked ~ .yajem_switchable {
	display: block;
	overflow: auto;
}
.yajem_inline-block{
	display: inline-block;
	padding:0px 10px;
}
.yajem_switch{
	display: inline-block;
	float: right;
	font-size: 20px;
	padding:10px 20px;
	word-spacing: normal;
	margin:0px;
}

.yajem_switchable{
	display:none;
	overflow:hidden;
}
.yajem_section_header{
	border: 1px solid #BDBDBD;
	display: block;
	margin-top: 10px;
}
.yajem_line{
	border-bottom: 1px solid #BDBDBD;
	padding-top: 20px;
	margin-bottom: 10px;
}
#yajem_comments .yajem_line{
	padding-top: 10px;
}

.yajem-no-margin {
	margin:0px;
}

label {
	margin-bottom:0px !important;
}
.yajem_status_open {
	background-color: #d3d3d3;
}
.yajem_status_attending {
	background-color: forestgreen;
}
.yajem_status_declined {
	background-color: crimson;
}
.yajem_status_waiting {
	background-color: cornflowerblue;
}
.yajem_attachment {
	width: auto;
}
.yajem_pull_right {
	float: right;
}

@media (max-width: 700px) {
	.yajem_image {
		max-width: 50px;
		max-height: 50px;
	}
}

/* for profiles */
.yajem_profiles_grid{
	display: grid;
	grid-template-columns: 65px repeat(4,auto);
	grid-template-rows: auto;
	grid-row-gap: 10px;
}
.yajem_profile_header{
	display: grid;
	grid-template-columns: 160px auto;
	background-color: #f5f5f5;
	padding: 10px;
	border-radius: 6px;
	margin-bottom: 10px;
}
.yajem_profile_avatar {
	display: inline-block;
	height: 150px;
	width: 150px;
}
.yajem_checkbox{
	margin: 0px 5px 0px 0px !important;
}
.yajem_equipment{
	padding-top: 10px;
}