<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
            name="general"
            label="COM_SDAJEM_FIELDS_CONFIG"
            description="COM_SDAJEM_FIELD_CONFIG_DESC"
    >
        <field
                name="sda_use_avatar"
                type="list"
                label="COM_SDAJEM_FIELD_USE_AVATAR_LABEL"
                default="0"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
                name="sda_avatar_field_name"
                type="sql"
                label="COM_SDAJEM_FIELD_AVATAR_FIELD_NAME"
                sql_select="f.*"
                sql_from="#__fields AS f"
                sql_where="f.context = 'com_users.user'"
                key_field="name"
                value_field="title"
                showon="sda_use_avatar:1"
        />
        <field
            name="sda_events_new_location"
            type="list"
            label="COM_SDAJEM_FIELD_EVENTS_NEW_LOCATION_LABEL"
            default="1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
                name="sda_events_use_fittings"
                type="list"
                label="COM_SDAJEM_FIELD_USE_FITTINGS_LABEL"
                default="0"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>
    <fieldset
            name="event"
            label="COM_SDAJEM_FIELDS_EVENT_CONFIG"
            description="COM_SDAJEM_FIELDS_EVENT_CONFIG_DESC"
    >
        <field
                name="sda_use_attending"
                type="list"
                label="COM_SDAJEM_FIELD_USE_ATTENDING_LABEL"
                default="1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
                name="sda_use_organizer"
                type="list"
                label="COM_SDAJEM_FIELD_USE_ORGANIZER_LABEL"
                default="1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
                name="sda_user_group_name"
                type="sql"
                label="COM_SDAJEM_FIELD_USER_FIELD_NAME"
                sql_select="ug.*"
                sql_from="#__usergroups AS ug"
                key_field="id"
                value_field="title"
                showon="sda_use_organizer:1"
        />
        <field
                name="sda_use_host"
                type="list"
                label="COM_SDAJEM_FIELD_USE_HOST_LABEL"
                default="0"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
                name="sda_host_category_name"
                type="sql"
                label="COM_SDAJEM_FIELD_HOST_FIELD_NAME"
                sql_select="cat.*"
                sql_from="#__categories AS cat"
                sql_where="cat.extension = 'com_contact'"
                key_field="id"
                value_field="title"
                showon="sda_use_host:1"
        />
        <field
                name="sda_use_location"
                type="list"
                label="COM_SDAJEM_FIELD_USE_LOCATION_LABEL"
                default="1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>
    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
    >
        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                validate="rules"
                filter="rules"
                component="com_sdajem"
                section="component"
        />
    </fieldset>
</config>