@import "fontawesome-all.min.css";

.sdajem_flex_row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.sdajem_cell {
	display: block;
	width: auto;
	padding: 10px 10px 10px 0px;
}
.sdajem_head {
	font-weight: bold;
}

.sdajem_event_grid {
	display: grid;
	grid-template-columns: minmax(100px, 200px) auto;
	grid-row-gap: 10px;
}
.sdajem_profile_container {
	margin-right: 10px;
	margin-bottom: 10px;
	border: grey solid 1px;
	border-radius: 5px;
	width: 100px;
}
.sdajem_avatar {
	display: block;
	height: 60px;
	width: 60px;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border: solid 1px;
	margin-right: auto;
	margin-left: auto;
}

.sdajem_comment_row {
	display: grid;
	grid-template-columns: 80px auto 20px;
	border-bottom: grey solid 1px;
	margin-bottom: 10px;
}
.sdajem_comment_user {
	margin-right: 10px;
}
.sdajem_comment_text {
}
#comment {
	display: inline-block;
	width: 98%;
	height: 100px;
	margin-bottom: 10px;
}

.sdajem_content_container input[type=submit] {
	padding: 5px 15px;
	background: #ccc;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.sdajem_profile_details {
	text-align: center;
}
.sdajem_status_label {
	margin-right: auto;
	margin-left: auto;
	border-right: grey solid 1px;
	border-radius: 5px;
	padding: 5px;
	color: white;
	text-align: center;
}
.sdajem_grey {
	background-color: grey;
}
.sdajem_green {
	background-color: #51a351;
}
.sdajem_red {
	background-color: #9d261d;
}