<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<fieldset name="general"
	          label="COM_SDAJEM_GLOBAL_CONFIG_LABEL"
	          description="COM_SDAJEM_GLOBAL_CONFIG_DESC"
	          >
		<field name="use_sdacontacts"
		       type="radio"
		       label="COM_SDAJEM_SDACONTACTS_LABEL"
		       description="COM_SDAJEM_SDACONTACTS_DESC"
		       class="btn-group btn-group-yesno"
		       default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
	<fieldset name="EVENTSVIEW">
		<field  name="eventDefaultView"
				type="radio"
				label="COM_SDAJEM_EVENT_DEFAULT_VIEW"
				description="COM_SDAJEM_EVENT_DEFAULT_VIEW_DESC"
				default="1"
				class="btn-group"
		>
			<option value="0">default_flex</option>
			<option value="1">default_boxed</option>
			<!-- <option value="2">default_timeline</option> -->
		</field>
		<field name="viewToggle"
			   type="radio"
			   label="COM_SDAJEM_VIEW_TOGGLE"
			   description=""
			   default="0"
			   class="btn-group btn-group-yesno"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="filterDate"
			   type="radio"
			   label="COM_SDAJEM_FILTER_DATE"
			   description=""
			   default="1"
			   class="btn-group btn-group-yesno"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="filterEventStatus"
			   type="radio"
			   label="COM_SDAJEM_FILTER_EVENT_STATUS"
			   description=""
			   default="1"
			   class="btn-group btn-group-yesno"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="filterLocation"
			   type="radio"
			   label="COM_SDAJEM_FILTER_LOCATION"
			   description=""
			   default="1"
			   class="btn-group btn-group-yesno"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field  name="guestDefaultEventView"
				type="radio"
				label="COM_SDAJEM_GUEST_EVENT_DEFAULT_VIEW"
				description="COM_SDAJEM_GUEST_EVENT_DEFAULT_VIEW_DESC"
				default="1"
				class="btn-group"
		>
			<option value="0">COM_SDAJEM_ALL</option>
			<option value="1">COM_SDAJEM_CONFIRMED_ONLY</option>
			<!-- <option value="2">default_timeline</option> -->
		</field>
	</fieldset>
	<fieldset name="event"
			  label="COM_SDAJEM_EVENT_CONFIG_LABEL"
			  description="COM_SDAJEM_EVENT_CONFIG_DESC"
	>
		<field name="usePlaningTool"
			   type="radio"
			   label="COM_SDAJEM_PLANINGTOOL_LABEL"
			   description="COM_SDAJEM_PLANINGTOOL_DESC"
			   class="btn-group btn-group-yesno"
			   default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
	<fieldset
			name="permissions"
			label="JCONFIG_PERMISSIONS_LABEL"
			description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
				name="rules"
				type="rules"
				label="JCONFIG_PERMISSIONS_LABEL"
				class="inputbox"
				validate="rules"
				filter="rules"
				component="com_sdajem"
				section="component"
		/>
	</fieldset>
</config>