@import "fontawesome.min.css"
@import "solid.min.css"
@import "regular.min.css"
@import "shared.sass"

@font-face
  font-family: 'Jim Nightshade'
  src: url('../webfonts/JimNightshade-Regular.ttf') format('truetype')

// overwriting some of template css
.btn-small
  padding: 5px 10px
.chzn-container
  font-size: 1rem
// Own css styling
html
  font-size: 16px
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  margin: 0
  padding: 0

a
  color: $color_accent
  &:hover
    color: $color_accent

body
  font: 100% $font-stack
  color: $color_primary
  background-color: #4A4A4A

.container
  max-width: 1200px
  width: auto !important
  margin-right: auto
  margin-left: auto

#main,
footer,
header,
.element-spacer
  background-color: $color_content-background
  border-radius: 6px
  margin-bottom: 10px

#main,
footer
  padding-top: 10px
  padding-bottom: 10px

  .sda_content_flex
    display: flex
    flex-wrap: wrap

    @media (max-width: $mobile_breakpoint)
      display: block

    .sda_col
      flex: 0.6
      @media (max-width: $mobile_breakpoint)
        width: 100%

    .sda_col_content
      flex: 2
      @media (max-width: $mobile_breakpoint)
        width: 100%

    .sda_col_left
      margin-right: 20px

    .sda_col_right
      margin-left: 20px

.header-inner.clearfix
  background-color: $color_primary

p
  margin-block-start: 0

img.logo
  width: 100%
  border-top-left-radius: 6px
  border-top-right-radius: 6px

h1, h2, h3, h4, h5, h6
  font-family: 'Jim Nightshade', serif
  font-weight: normal

h1
  font-size: 1.7rem

h2
  font-size: 1.5rem

h3
  font-size: 1.4rem

h4
  font-size: 1.4rem

h5, h6
  font-size: 1.4rem

.sda_content_spacer
  padding-left: 20px
  padding-right: 20px

#breadcrumb_pos
  align-self: center
  @media (max-width: $mobile_breakpoint)
    display: none

// Styling the main menu
.sda_horizontal_menu
  ul
    padding: 0
    margin: 0
    display: flex
    flex-direction: row
    flex-wrap: wrap
    list-style: none

.navigation
  font-family: 'Jim Nightshade', serif
  font-size: 2rem
  font-weight: normal

  ul
    z-index: 999
    @media (max-width: $mobile_breakpoint)
      display: block
    @media (hover: none) and (pointer: coarse)
      display: block

    .sda_menulink
      padding: 20px 10px
      width: fit-content

      &:hover
        background-color: $color_content-background
        opacity: 1
        a
          color: $color_accent

    li
      ul
        z-index: 999
        position: absolute
        display: flex
        visibility: hidden
        opacity: 0
        -webkit-transition: opacity 600ms, visibility 600ms
        transition: opacity 600ms, visibility 600ms
        @media (max-width: $mobile_breakpoint)
          position: relative
          display: block
          visibility: visible
          opacity: 1
          padding-left: 20px
        @media (hover: none) and (pointer: coarse)
          position: relative
          display: block
          visibility: visible
          opacity: 1
          padding-left: 20px
        ul
          z-index: 999
          position: relative
          display: block
          .sda_menulink
            padding-left: 40px
            @media (hover: none) and (pointer: coarse)
              padding-left: 20px
            @media (max-width: $mobile_breakpoint)
              padding-left: 20px
      background-color: $color_primary
      &:hover
        ul
          @media (min-width: $mobile_breakpoint)
            visibility: visible
            opacity: 1
            ul
              visibility: hidden
              height: 0
              opacity: 0
              -webkit-transition: opacity 600ms, visibility 600ms
              transition: opacity 600ms, visibility 600ms
            li
              &:hover
                ul
                  visibility: visible
                  opacity: 1
      a
        color: $color_content-background
        //padding: 10px
        text-decoration: none

.pull-right
  float: right

.pull-left
  float: left

.sda_hidden
  display: none !important

.sda_switchable
  display: none

.sda_switch:checked ~ .sda_switchable
  display: block

#menu_switch:checked.sda_switch:checked ~ .sda_switchable_menu
  max-height: 400px
  overflow: auto

#user_login_form.sda_switchable
  overflow: hidden
  display: flex
  max-height: 0
  align-items: stretch
  flex-wrap: wrap
  -webkit-transition: max-height 600ms ease-in-out
  transition: max-height 600ms ease-in-out

#user_login_switch:checked ~ #user_login_form.sda_switchable
  max-height: 1000px
  padding-top: 10px

#sda_mobile_nav
  display: none
  @media (max-width: $mobile_breakpoint)
    display: block
    font-size: 2rem
  @media (hover: none) and (pointer: coarse)
    display: block
    font-size: 2rem

.sda_switchable_menu
  display: block
  @media (max-width: $mobile_breakpoint)
    max-height: 0
    overflow: hidden
    -webkit-transition: max-height 600ms ease-in-out
    transition: max-height 600ms ease-in-out
  @media (hover: none) and (pointer: coarse)
    max-height: 0
    overflow: hidden
    -webkit-transition: max-height 600ms ease-in-out
    transition: max-height 600ms ease-in-out

.burger_menu
  background-color: $color_content-background
  padding: 10px
  border-radius: 6px
  cursor: pointer

#sda_user_label
  padding: 15px
  background-color: $color_content-background
  border-radius: 6px
  width: fit-content
  font-size: 1.3rem
  justify-self: end
  margin-top: auto
  margin-bottom: auto
  @media (max-width: $mobile_breakpoint)
    margin-top: 0
  @media (hover: none) and (pointer: coarse)
    margin-top: 0
  &:hover
    background-color: darken($color_gray, 10%)

.sda_switch_label
  cursor: pointer

.sda_menugrid
  display: grid
  grid-template-columns: auto 50px

#head_last_row
  padding-top: 10px
  padding-bottom: 10px

  background-color: $color_content-background

.blog .item-image
  max-width: 100px

.categories-list img
  max-width: 100px

.category-desc img
  float: left !important
  max-width: 100px !important
  border: solid 1px !important
  margin-right: 10px !important
  margin-bottom: 10px !important

#sda_navigation_row
  background-color: $color_primary
  position: sticky
  top: 0
  z-index: 800

#user_login_form > *
  @include borderBoxed
  margin-right: 20px

#user_login_form
  background-color: $color_content-background
  border-bottom: solid $color_primary 1px
  form, ul
    margin-top: 0
  ul li
    margin-bottom: 10px

#content
  .blog-featured p::first-letter,
  .item-page p::first-letter,
  .categories-list p::first-letter
    initial-letter: 2
    color: $color_accent
    font-family: "Jim Nightshade", serif
    font-size: 1.2rem
    font-weight: bold

footer .sda_horizontal_menu
  margin-bottom: 10px
  ul li
    margin-right: 20px

.pull-left.item-image
  max-width: 90px

// Kunena Forum layout fixes
.divider img
  margin-bottom: 5px

#kunena.layout .breadcrumb
  display: none

#kunena.layout img
  max-width: 100px