@import "fontawesome-all.min.css";

@media (min-width: 500px) {
	.sdacontacts_table {
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-column-gap: 5px;
		grid-row-gap: 10px;
	}
}
.sdacontacts_header {
	font-weight: bold;
}
.sdacontact_contact_image_preview {
	max-width: 100px;
	max-height: 100px;
}
.sdacontacts_contact_cell, .sdacontacts_address_cell {
	display: grid;
	grid-template-columns: 20px auto;
	grid-gap: 5px;
}
.sdacontacts_contact_cell i.fas {
	margin: auto;
}
.sdacontacts_item_table {
	display: grid;
	grid-template-columns: minmax(100px, 200px) auto;
	grid-gap: 10px;
}
.sdacontacts_label{}
.sdacontacts_value{}
.sdacontacts_item_image {
	max-height: 200px;
}